:root{
    --marginVal: 2vh;
    --grey: rgb(100, 100, 100);
    --currentTxt: 0.9rem;
    --bigTxt: 1.5rem;
}

@font-face {
    font-family: 'ppMondwest';
    src: url('/assets/fonts/PPMondwest-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helvetica';
    src: url('/assets/fonts/HelveticaNeueLTStd-Lt.otf');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding:0;
    list-style-type: none;
}

html,body{
    margin:0;
    padding:0;
    color: var(--grey);
    background: black;
}

canvas{
    border: 0;
}

/* -- POSITION -- */
#setlist,
#controls,
#name,
#infos{
    position: absolute;
    width: 50vw;
}

.top{
    top: var(--marginVal);
}
.bottom{
    bottom: var(--marginVal);
}
.left{
    left: var(--marginVal);
}
.right{
    right: var(--marginVal);
    text-align: right;
}

/* -- COLOR -- */
.white{
    color: white;
}

/* -- FONTS -- */
#setlist,
h2,
#name{
    text-transform: uppercase;
    font-size: var(--bigTxt);
    font-family:'ppMondwest';
}

#controls p,
#infos p,
#infos span{
    font-size: var(--currentTxt);
    font-family:'helvetica';
}

